/* Dairy Dome page */
.dairy_page{
  background-image: url("./../images/cow_page/new_cow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.levels{
  width: 50%;
}

/* Full-width input fields */
button:hover {
    opacity: 0.8;
}

/* Stampboard page */
#stampboard_box{
  position: relative;
  display: block;
  margin-top: 10%;
}

/* Register page */
#user_icon{
  width: 40%;
  margin-top: 20%;
}
#email_icon{
  width: 30%;
  margin-top: 8%;
}
#password_icon{
width: 30%;
margin-top: 15%;
 }

.input_box{
  margin-top: 5%;
}

.form_body{
  margin-bottom: 20%;
}
#register_body{
  height: auto;
}
.button_register{
  width: 50%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.brdiv{
    margin-bottom: 3%;
}

#red_input{
  background-color: #DC143C;
  color: #FFF;
}

#blue_input{
  background-color: #000080;
  color: #FFF;
}

#purple_input{
  background-color: #C71585;
  color:#FFF;
}

#green_input{
  background-color: #2E8B57;
  color: #FFF;
}

/* Contact Us page*/
#pink_border{
  border: 2px solid #FF1493;
  border-radius: 4px;
}
#blue_border{
  border: 2px solid #4169E1;
  border-radius: 4px;
}
#yellow_border{
  border: 2px solid #FFFF00;
  border-radius: 4px;
}
