/* Global Attributes */
html, body, .fill {
  min-height: 100%;
  max-height: 100%;
  height: 100%;
}

.container {
  background-image: url("./../Images/universe.png");
  background-repeat: none;
  background-position: center;
  background-size: cover;

}

div.container .fill {
  margin: 0 auto;
  width: 100%;
}

/* PAGE DIVISION CSS */
.header {
  height: 8%;
  border-bottom: solid 2px black;
}

.mainbody {
  margin: 0 auto;
  overflow: scroll;
  width: 100%;
  height:80%;
}

.footer {
  height: 12%;

}


.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-6, .col-xs-8 {
  height: 100%;
  text-align: center;
}

.glyphicon {
  font-size: 150%;
  color: black;
}

.img-responsive {
  max-height: 100%;
  min-height: 100%;
  padding: 0;
}

/* HEADER NAVIGATION CSS */
#back_navigation {
  background-color: #45828D;
}

#logo_navigation {
  background-color: #45828D;
}

#logout_navigation {
  background-color: #45828D;
}

/* FOOTER NAVIGATION CSS */
#avatar_footer, #planet_footer, #faq_footer, #stampboard_footer {
  border-radius: 20px 20px 0 0;
  border: solid 2px black;
}

#avatar_footer {
  background-color: #d9534f;
}

#planet_footer {
  background-color: #428bca;
}

#stampboard_footer {
  background-color: #f0ad4e;
}

#faq_footer {
  background-color: pink;
}

.title_header {
  width: auto;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: red;
  overflow: auto;
  background-color: yellow;
  border-radius: 8px;
  margin: 0 35%;
  border: 2px solid black;
}

#fruit_fortress, #dairy_dome {
  position: relative;
  display: block;
  left: 30%;
  top: 2.5%;
  width: 10%;
}

#pastry_palace, #meat_mansion {
  position: relative;
  display: block;
  left: 60%;
  top: 2.5%;
  width: 10%;
}


/* TEST CODES START HERE */
================================================================================
/*body {margin:0;}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    height:100%;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    height:100%;
}

.icon-bar a:hover {
    background-color: #000;
    height:100%;
}

.active {
    background-color: #4CAF50 !important;
    height:100%;
}*/


.glyphicon .glyphicon-calendar .floatingcalendar {
  float: right; color: pink; font-size: 400%
}
