/* Dairy Dome page */
/* planning to use */
.dairy_page{
  background-image: url("./../images/cow_page/new_cow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.levels{
  width: 50%;
}

/* Stampboard page */
.stampboard_box{
  position: relative;
  display: block;
  margin-top: 10%;
  background-color:#90EE90;
  padding: 5%;
}

/* Register page */
/* resizing icons */
#user_icon{
  width: 40%;
}
#email_icon{
  width: 30%;
}
#password_icon{
width: 25%;
margin-top: 3%;
 }

/* formating button */

.button_register{
  width: 50%;
  position: relative;
  display: block;
  margin-left: auto;
  text-align: center;
}


/* Formating input's borders */
#red_input{
  border: 2px solid #DC143C;
  border-radius: 4px;
}

#blue_input{
  border: 2px solid #000080;
  border-radius: 4px;
}

#purple_input{
  border: 2px solid #C71585;
  border-radius: 4px;
}

#green_input{
  border: 2px solid #2E8B57;
  border-radius: 4px;
}

/* CONTACT US page*/
/* Formating input's borders */
#pink_border{
  border: 2px solid #FF1493;
  border-radius: 4px;
}
#blue_border{
  border: 2px solid #4169E1;
  border-radius: 4px;
}
#yellow_border{
  border: 2px solid #FFFF00;
  border-radius: 4px;
}

/* ABOUT US page */

.panel-body {
  background-color: #000;
  color: #FFF;
}

.aff_link {
  text-decoration: none;
  color: #00FFFF;
}


/* AVATAR page */
.avatar_div{
  max-height: 50%;
}
.welcome{
  width: auto;
  display: block;
  text-align: center;
  color: #B0E0E6;
  overflow: auto;
  background-color: black;
  border-radius: 8px;
  margin: 0 35%;
  border: 2px solid black;
}
