/* Question page */

body {
  background-image: url("./Images/Cow.png");
  background-repeat: no-repeat;
  background-size: 320px 480px;
  background-position: center;
}

div .row .col-xs-6 .questionbox {
  width: 75%;
  border: solid black 5px;
  margin: auto;
  margin-top: 20%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: color;
}

#q1, #q2, #q3, #q4 {
  width: 40%;
  float: left;
  margin-left: 6%;
  margin-top: 10%;
  border: none;
}

div .col-xs-4 .btn-group {
  width: 100%;
  border: none;
  color: white;
  background-color: black;
  font-weight: bold;
  cursor: pointer;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* END OF question PAGE */
