/* Global Attributes */
html, body, .fill {
  min-height: 100%;
  max-height: 100%;
  height: 100%;
}

.bg {
  background-image: url("./../Images/universe.png");
  background-repeat: none;

.container {
  background-image: url("./../images/universe.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container .fill {
  margin: 0 auto;
  width: 100%;
}

/* PAGE DIVISION CSS */
.header {
  height: 8%;
  border-bottom: solid 2px black;
}

.mainbody {
  /*margin: 0 auto;*/
  margin: 0 auto;
  width: 100%;
  height:80%;
}

.footer {
  height: 12%;
}

.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-6, .col-xs-8 {
  height: 100%;
  text-align: center;
}

.glyphicon {
  font-size: 2.5vw;
  color: black;
}

.img-responsive {
  max-height: 100%;
  min-height: 100%;
  padding: 0;
}

/* HEADER NAVIGATION CSS */
#back_navigation {
  background-color: #45828D;
}

#logo_navigation {
  background-color: #45828D;
}

#logout_navigation {
  background-color: #45828D;
}

/* FOOTER NAVIGATION CSS */
#avatar_footer, #planet_footer, #faq_footer, #stampboard_footer {
  border-radius: 20px 20px 0 0;
  border: solid 2px black;
  overflow: hidden;
}

#avatar_footer {
  background-color: #d9534f;
}

#planet_footer {
  background-color: #428bca;
}

#stampboard_footer {
  background-color: #f0ad4e;
}

#faq_footer {
  background-color: pink;
}

/* PAGE HEADER */
.title_header {
  width: auto;
  display: block;
  text-align: center;
  color: red;
  overflow: auto;
  background-color: yellow;
  border-radius: 8px;
  margin: 0 35%;
  border: 2px solid black;
}


/* PLANETS PAGE */
#fruit_fortress, #dairy_dome {
  position: relative;
  display: block;
  left: 30%;
  top: 2.5%;
  width: 10%;
}

#pastry_palace, #meat_mansion {
  position: relative;
  display: block;
  left: 60%;
  top: 2.5%;
  width: 10%;
}


/* Dairy Dome page */
.levels_body table{
  position: relative;
  display: block;
  left: 33%;
  margin-top: 5%;

}

.levels {
  width: 150%;
}

#cowface {
  width: 169%;
}

#level3{
  margin-left: 70%;
}

#level4, #level2{
  margin-left: 40%;

/* ABOUT US PAGE, SCROLLING CONTENT */
.row .subbody {
  width: 90%;
  margin: 0 auto;
  height:80%;
  overflow: auto;

}

/* TEST CODES START HERE */
================================================================================
/*body {margin:0;}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    height:100%;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    height:100%;
}

.icon-bar a:hover {
    background-color: #000;
    height:100%;
}

.active {
    background-color: #4CAF50 !important;
    height:100%;
}*/

.glyphicon .glyphicon-calendar .floatingcalendar {
  float: right; color: pink; font-size: 400%
  float: right;
  color: green;
  font-size: 400%
}

#contactuspage {
  background-image: url("./../images/Apple.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#upper_left {
	position: absolute;
	top: 0px;
	left: 0px;
  width: 10%;
}

#upper_right {
	position: absolute;
	top: 0px;
	right: 0px;
  width: 10%;
}

#lower_left {
	position: absolute;
	bottom: 0px;
	left: 0px;
  width: 10%
}

#lower_right {
	bottom: 0px;
	right: 0px;
	position: absolute;
  width: 10%
}
