/* Global Attributes */
html, body, .fill {
  min-height: 100%;
  max-height: 100%;
  height: 100%;
}

.container .fill {
  margin: 0 auto;
  width: 100%;
}

/* PAGE DIVISION CSS */
.header {
  height: 8%;
}

.mainbody {
  margin: 0 auto;
  width: 100%;
  height:80%;
}

.footer {
  height: 12%;
}

/* GRID ATTRIBUTE MODIFICATIONS */
.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-6, .col-xs-8, .col-xs-1, .col-xs-10 {
  height: 100%;
  text-align: center;
}

/* CUSTOM IMAGE RESPONSIVE ATTRIBUTES */
.img-responsive {
  max-height: 100%;
  min-height: 100%;
  padding: 0;
}

/* HEADER NAVIGATION CSS */
#back_navigation {
  background-color: #45828D;
  border-radius: 0 0 0 20px;
  border-bottom: 2px black solid;
  border-left: 2px black solid;
}
#logo_navigation{
  background-color: #45828D;
  border-bottom: 2px black solid;
}
#logout_navigation {
  background-color: #45828D;
  border-radius: 0 0 20px 0;
  border-bottom: 2px black solid;
  border-right: 2px black solid;
}
/* END HEADER NAVIGATION CSS */

/* FOOTER NAVIGATION CSS */
#avatar_footer, #planet_footer, #faq_footer, #stampboard_footer {
  border-radius: 20px 20px 0 0;
  border: solid 2px black;
  overflow: hidden;
}
#avatar_footer {
  background-color: #d9534f;
}
#planet_footer {
  background-color: #428bca;
}
#stampboard_footer {
  background-color: #f0ad4e;
}
#faq_footer {
  background-color: pink;
}
/* END FOOTER NAVIGATION CSS*/

/* PAGE HEADER */
.title_header {
  width: auto;
  display: block;
  text-align: center;
  color: red;
  overflow: auto;
  background-color: yellow;
  border-radius: 8px;
  margin: 0 35%;
  border: 2px solid black;
}

/* PLANET DIV ROW HEIGHT */
.row #planets {
  height: 28%;
}

/* AVATAR PAGE DIV ROW HEIGHT*/
.row #avatar_page  {
  height: 15%;
}

/* ABOUT US PAGE, SCROLLING CONTENT */
.row .subbody {
  width: 90%;
  margin: 0 auto;
  height: 82%;
  overflow: auto;
}

/*FLOATING ABOUTUS ICON*/
.glyphicon .glyphicon-calendar .floatingcalendar {
  float: right;
  color: green;
  font-size: 400%
}

/*MODAL LOGIN PAGE*/
/* FULL WIDTH INPUT FIELDS */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* BUTTON STYLE */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}

/* EXTRA STYLES FOR THE CANCEL BUTTON */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* CENTER THE IMAGE AND POSITION THE CLOSE BUTTON */
span.psw {
    float: right;
    padding-top: 16px;
}

/* MODAL BACKGROUND */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 5%;
}

/* MODAL CONTENT BOX */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 100%; /* Could be more or less, depending on screen size */
}

/* CLOSE BUTTON (X) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

/* ZOOM ANIMATION FOR LOGIN SCREEN */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
/* END OF ANIMATION */

/* CHANGE STYLES FOR SPAN AND CANCEL BUTTON ON XS SCREENS*/
@media screen and (max-width: 300px) {
  span.psw {
   display: block;
   float: none;
  }
  .cancelbtn {
   width: 100%;
  }
}

#pickavatar {
  height: 70%;
}

/*TWINKLE BACKGROUND ANIMATION*/
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

/* STAR BACKGROUND IMAGE */
.container {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

/* TWINKLING BACKGROUND IMAGE */
/*.row {
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}*/

/*DAIRY PLANET BACKGROUND*/
#dairyheader {
  background-image: url('../images/dairy_page/level_bg.png');
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}
